@import url("./slick.min.css");
@import url("./slick-theme.min.css");

// @font-face {
//   font-family: "Proxima Nova";
//   font-weight: 300;
//   src: url("../static/fonts/Proxima-Thin.otf");
// }

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url("../static/fonts/Proxima-Regular.otf");
}

// @font-face {
//   font-family: "Proxima Nova";
//   font-weight: 500;
//   src: url("../static/fonts/Proxima-Medium.otf");
// }

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url("../static/fonts/Proxima-Semibold.otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url("../static/fonts/Proxima-Bold.otf");
}

html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica,
      sans-serif;
  }
}
