@import url("./slick.min.css");
@import url("./slick-theme.min.css");

// @font-face {
//   font-family: "Proxima Nova";
//   font-weight: 300;
//   src: url("../static/fonts/Proxima-Thin.otf");
// }

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.woff");
}

// @font-face {
//   font-family: "Proxima Nova";
//   font-weight: 500;
//   src: url("../static/fonts/Proxima-Medium.otf");
// }

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Semibold.woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.woff");
}

html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica,
      sans-serif;
  }
}
